/* Example of @import use
This imports the `utility.css` file */
@import url('./reset.css');
@import url('./utility.css');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

.theme1 {
  --main-background-color: hsl(222deg 26% 31%);
  --keypad-toggle-background-color: hsl(223deg 31% 20%);
  --screen-background-color: hsl(224deg 36% 15%);
  --key-backgound-color: hsl(225deg 21% 49%);
  --key-shadow-color: hsl(224deg 28% 35%);
  --primary-bg-color: hsl(30deg 25% 89%);
  --key-shadow-keys: hsl(28deg 16% 65%);
  --toggle-key-background-color: hsl(6deg 63% 50%);
  --toggle-key-shadow-color: hsl(6deg 70% 34%);
  --secondary-color: hsl(30deg 25% 89%);
  --primary-color: hsl(0deg 0% 100%);
  --tertiary-color: hsl(221deg 14% 31%);
  --equals-color: hsl(0deg 0% 100%);
  --dot-position: 8px;
  --primary-text-color: hsl(224deg 51% 76%);
  --key-hover: hsl(0deg 0% 100%);
  --reset-dot-hover: hsl(6deg 93% 67%);
}

.theme2 {
  --main-background-color: hsl(0deg 0% 90%);
  --keypad-toggle-background-color: hsl(0deg 5% 81%);
  --screen-background-color: hsl(0deg 0% 93%);
  --key-backgound-color: hsl(185deg 42% 37%);
  --key-shadow-color: hsl(185deg 58% 25%);
  --primary-bg-color: hsl(45deg 7% 89%);
  --key-shadow-keys: hsl(35deg 11% 61%);
  --toggle-key-background-color: hsl(25deg 98% 40%);
  --toggle-key-shadow-color: hsl(25deg 99% 27%);
  --secondary-color: hsl(60deg 10% 19%);
  --primary-color: hsl(0deg 0% 100%);
  --tertiary-color: hsl(60deg 10% 19%);
  --equals-color: hsl(0deg 0% 100%);
  --dot-position: 25px;
  --primary-text-color: hsl(186deg 41% 56%);
  --key-hover: hsl(0deg 0% 100%);
  --reset-dot-hover: hsl(25deg 100% 61%);
}

.theme3 {
  --main-background-color: hsl(268deg 75% 9%);
  --keypad-toggle-background-color: hsl(268deg 71% 12%);
  --screen-background-color: hsl(268deg 71% 12%);
  --key-backgound-color: hsl(281deg 89% 26%);
  --key-shadow-color: hsl(285deg 91% 52%);
  --primary-bg-color: hsl(273deg 47% 21%);
  --key-shadow-keys: hsl(290deg 70% 36%);
  --toggle-key-background-color: hsl(177deg 92% 70%);
  --toggle-key-shadow-color: hsl(176deg 100% 44%);
  --secondary-color: hsl(52deg 100% 62%);
  --primary-color: hsl(0deg 0% 100%);
  --tertiary-color: hsl(52deg 100% 62%);
  --equals-color: hsl(198deg 20% 13%);
  --dot-position: 45px;
  --primary-text-color: hsl(280deg 57% 44%);
  --key-hover: hsl(268deg 54% 44%);
  --reset-dot-hover: hsl(177deg 100% 79%);
}

.theme1,
.theme2,
.theme3 {
  transition: 1s;
}

.input {
  height: 30px;
  width: 80px;
  border-radius: 30px;
  background-color: var(--bg-toggle-keypad);
  left: 90px;
}

.theme-choice-1,
.theme-choice-2,
.theme-choice-3 {
  width: 15px;
  height: 15px;
  border-radius: 30px;
  top: 7px;
}

.theme-choice-1 {
  left: 10px;
}

.theme-choice-2 {
  left: 33px;
}

.theme-choice-3 {
  left: 55px;
}

input:checked {
  background-color: var(--toggle-key-shadow-color);
}

input:checked:hover {
  background-color: var(--toggle-key-background-color);
}

main {
  justify-content: center;
}

.theme-1-label,
.theme-2-label,
.theme-3-label,
.header-txt {
  font-size: 13px;
  color: var(--secondary-color);
  left: 70px;
}

.main-container {
  width: 300px;
  margin: auto;
}

.header {
  margin: 50px 0 10px;
}

.screen-display {
  color: var(--secondary-color);
}

.header-text {
  color: var(--secondary-color);
  left: -90px;
  top: -15px;
}

.header-txt {
  color: var(--secondary-color);
  align-self: center;
}

.theme-input {
  height: 30px;
  width: 80px;
  border-radius: 30px;
  background-color: var(--keypad-toggle-background-color);
  left: 90px;
}

.theme-1-label,
.theme-2-label,
.theme-3-label {
  top: -50px;
  left: 20px;
  color: var(--secondary-color);
}

.screen {
  background-color: var(--screen-background-color);
  height: 80px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
  text-align: right;
  justify-content: space-around;
  padding-right: 10px;
  color: var(--secondary-color);
  overflow: hidden;
}

.keypad {
  justify-content: center;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: repeat(5, 70px);
  background-color: var(--keypad-toggle-background-color);
  padding: 15px 10px;
  border-radius: 10px;
}

.reset,
.equals-key {
  grid-column: span 2;
}

.key,
.del,
.reset,
.operator,
.equals-key {
  margin: 0 8px;
  padding: 8px 0;
  border-radius: 5px;
  border: none;
  background-color: var(--primary-bg-color);
  color: var(--tertiary-color);
  box-shadow: 0 5px var(--key-shadow-keys);
}

.del,
.reset {
  background-color: var(--key-backgound-color);
  box-shadow: 0 5px var(--key-shadow-color);
  color: var(--primary-color);
  font-size: 18px;
  padding: 17px 0;
}

.key:hover,
.operator:hover {
  background-color: var(--key-hover);
}

.equals-key:hover,
.dot:hover {
  background-color: var(--reset-dot-hover);
}

.del:hover,
.reset:hover {
  background-color: var(--primary-text-color);
}

.key:active,
.del:active,
.reset:active,
.operator:active,
.equals-key:active {
  transform: translateY(2px);
}

.equal {
  background-color: var(--toggle-key-background-color);
  box-shadow: 0 5px var(--toggle-key-shadow-color);
  color: var(--equals-color);
}

@media (width >=1000px) {
  .calc {
    width: 400px;
  }

  .theme1,
  .theme2,
  .theme3 {
    top: 5px;
  }

  .theme-choice-1 {
    left: 10px;
    transition: 0.5s;
  }

  .theme-choice-2 {
    left: 30px;
    transition: 0.5s;
  }

  .theme-choice-3 {
    left: 52px;
    transition: 0.5s;
  }

  .main-container {
    width: 400px;
  }

  .header-text {
    left: -140px;
    top: -5px;
    font-size: 22px;
  }

  .header-txt {
    font-size: 10px;
    left: 125px;
  }

  .theme-input {
    height: 25px;
    width: 75px;
    left: 135px;
  }

  .theme-1-label,
  .theme-2-label,
  .theme-3-label {
    top: -35px;
    left: 20px;
  }

  .keypad {
    grid-template-columns: repeat(4, 95px);
    grid-template-rows: repeat(5, 70px);
  }

  .key,
  .del,
  .reset,
  .operator,
  .equals-key {
    margin: 0 8px;
    padding: 4px 0;
  }

  .del,
  .reset {
    padding: 14px 0;
  }
}
