.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.d-none {
  display: none;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.appearance {
  appearance: none;
}
